* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }

.container {
    position: relative;
    width: 100%;
    background-color: #D8F0FA;
    min-height: 100vh;
    overflow: hidden;
    padding-top: 50px;
  }

.select-bar {
    position: relative;
    background-color: #537482;
    width: 35%;
    padding: 0 23px 20px 23px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px -4px rgba(0,0,0,.3);
}

.country-select {
    float: left;
    left: 10%;
}


.travel-select {
    float: right;
    right: 10%;
}

.continents,
.travel-way {
    float: left;
    width: 200px;
    height: 80px;
    color: #444;
    text-align: center;
    margin: 15px 20px;
    background-color: #a7a717;
    border-radius: 30px;
    cursor: pointer;
}

.continents:hover,
.travel-way:hover {
    transform: scale(1.1);
    transition: .2s;
}

.continents-text,
.travel-way-text {
    line-height: 80px;
    font-size: 1.5rem;
}


.title {
    font-size: 1.8rem;
    /* color: #444; */
    color: white;
    margin-bottom: 10px;
    padding: 20px 0 10px 0;
}

.enter-text {
    padding: .7rem 0;
    font-size: 1.4rem;
}

.enter {
    float: left;
    position: absolute;
    top: 83%;
    left: 50%;
    margin-left: -150px;
}

.enter-btn {
    background-color: #7babff;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;

}

.enter-btn a{
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
}

.enter-btn:hover{
    background-color: #5994FD;
    transform: scale(1.1);
    transition: .2s;
}

.select-mode {
    border: 5px solid blue;
}

